<div class="container">
    <section class="content-sp-hot">
        <h2>Danh mục sản phẩm</h2>
        <div class="row">
            <div class="col-sm-3 item">
                <div class="card" style="width: 100%;">
                    <img src="http://lorempixel.com/600/400/sports" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="#">Tên sản phẩm</a>
                        </h5>
                        <p>
                            <span class="price text-danger">30.000đ</span>
                            <span class="ori-price">50.000đ</span>
                        </p>
                        <div class="text-right">
                            <a href="#" class="btn btn-primary">Chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 item">
                <div class="card" style="width: 100%;">
                    <img src="http://lorempixel.com/600/400/sports" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="#">Tên sản phẩm</a>
                        </h5>
                        <p>
                            <span class="price text-danger">30.000đ</span>
                            <span class="ori-price">50.000đ</span>
                        </p>
                        <div class="text-right">
                            <a href="#" class="btn btn-primary">Chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 item">
                <div class="card" style="width: 100%;">
                    <img src="http://lorempixel.com/600/400/sports" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="#">Tên sản phẩm</a>
                        </h5>
                        <p>
                            <span class="price text-danger">30.000đ</span>
                            <span class="ori-price">50.000đ</span>
                        </p>
                        <div class="text-right">
                            <a href="#" class="btn btn-primary">Chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 item">
                <div class="card" style="width: 100%;">
                    <img src="http://lorempixel.com/600/400/sports" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="#">Tên sản phẩm</a>
                        </h5>
                        <p>
                            <span class="price text-danger">30.000đ</span>
                            <span class="ori-price">50.000đ</span>
                        </p>
                        <div class="text-right">
                            <a href="#" class="btn btn-primary">Chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 item">
                <div class="card" style="width: 100%;">
                    <img src="http://lorempixel.com/600/400/sports" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="#">Tên sản phẩm</a>
                        </h5>
                        <p>
                            <span class="price text-danger">30.000đ</span>
                            <span class="ori-price">50.000đ</span>
                        </p>
                        <div class="text-right">
                            <a href="#" class="btn btn-primary">Chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 item">
                <div class="card" style="width: 100%;">
                    <img src="http://lorempixel.com/600/400/sports" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="#">Tên sản phẩm</a>
                        </h5>
                        <p>
                            <span class="price text-danger">30.000đ</span>
                            <span class="ori-price">50.000đ</span>
                        </p>
                        <div class="text-right">
                            <a href="#" class="btn btn-primary">Chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 item">
                <div class="card" style="width: 100%;">
                    <img src="http://lorempixel.com/600/400/sports" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="#">Tên sản phẩm</a>
                        </h5>
                        <p>
                            <span class="price text-danger">30.000đ</span>
                            <span class="ori-price">50.000đ</span>
                        </p>
                        <div class="text-right">
                            <a href="#" class="btn btn-primary">Chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 item">
                <div class="card" style="width: 100%;">
                    <img src="http://lorempixel.com/600/400/sports" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="#">Tên sản phẩm</a>
                        </h5>
                        <p>
                            <span class="price text-danger">30.000đ</span>
                            <span class="ori-price">50.000đ</span>
                        </p>
                        <div class="text-right">
                            <a href="#" class="btn btn-primary">Chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 item">
                <div class="card" style="width: 100%;">
                    <img src="http://lorempixel.com/600/400/sports" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="#">Tên sản phẩm</a>
                        </h5>
                        <p>
                            <span class="price text-danger">30.000đ</span>
                            <span class="ori-price">50.000đ</span>
                        </p>
                        <div class="text-right">
                            <a href="#" class="btn btn-primary">Chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 item">
                <div class="card" style="width: 100%;">
                    <img src="http://lorempixel.com/600/400/sports" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="#">Tên sản phẩm</a>
                        </h5>
                        <p>
                            <span class="price text-danger">30.000đ</span>
                            <span class="ori-price">50.000đ</span>
                        </p>
                        <div class="text-right">
                            <a href="#" class="btn btn-primary">Chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 item">
                <div class="card" style="width: 100%;">
                    <img src="http://lorempixel.com/600/400/sports" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="#">Tên sản phẩm</a>
                        </h5>
                        <p>
                            <span class="price text-danger">30.000đ</span>
                            <span class="ori-price">50.000đ</span>
                        </p>
                        <div class="text-right">
                            <a href="#" class="btn btn-primary">Chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 item">
                <div class="card" style="width: 100%;">
                    <img src="http://lorempixel.com/600/400/sports" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="#">Tên sản phẩm</a>
                        </h5>
                        <p>
                            <span class="price text-danger">30.000đ</span>
                            <span class="ori-price">50.000đ</span>
                        </p>
                        <div class="text-right">
                            <a href="#" class="btn btn-primary">Chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 item">
                <div class="card" style="width: 100%;">
                    <img src="http://lorempixel.com/600/400/sports" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="#">Tên sản phẩm</a>
                        </h5>
                        <p>
                            <span class="price text-danger">30.000đ</span>
                            <span class="ori-price">50.000đ</span>
                        </p>
                        <div class="text-right">
                            <a href="#" class="btn btn-primary">Chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 item">
                <div class="card" style="width: 100%;">
                    <img src="http://lorempixel.com/600/400/sports" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="#">Tên sản phẩm</a>
                        </h5>
                        <p>
                            <span class="price text-danger">30.000đ</span>
                            <span class="ori-price">50.000đ</span>
                        </p>
                        <div class="text-right">
                            <a href="#" class="btn btn-primary">Chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 item">
                <div class="card" style="width: 100%;">
                    <img src="http://lorempixel.com/600/400/sports" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="#">Tên sản phẩm</a>
                        </h5>
                        <p>
                            <span class="price text-danger">30.000đ</span>
                            <span class="ori-price">50.000đ</span>
                        </p>
                        <div class="text-right">
                            <a href="#" class="btn btn-primary">Chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 item">
                <div class="card" style="width: 100%;">
                    <img src="http://lorempixel.com/600/400/sports" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="#">Tên sản phẩm</a>
                        </h5>
                        <p>
                            <span class="price text-danger">30.000đ</span>
                            <span class="ori-price">50.000đ</span>
                        </p>
                        <div class="text-right">
                            <a href="#" class="btn btn-primary">Chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </section>
</div>