.item{
  margin-bottom: 20px;
}
.item .card{
  border: none;
}
.item .card-body{
  padding-left: 3px;
  padding-right: 3px;
}
.ori-price{
  color: #707070;
    text-decoration: line-through;
    font-size: 14px;
}